---
title: Resume
---
<h2> Experiences </h2>
{% for experience in site.data.experiences %}
    <ul>
      <li>
        <span style="font-weight: bold">{{ experience.company }} {% if experience.present %}</span><span style="font-style: italic">*present</span>{% endif %}
      </li>
      <li>{{ experience.title}}</li>
      <li>{{ experience.location}}</li>
      <li><a target="_blank" rel="noopener noreferrer"href="{{experience.link}}">{{experience.link}}</a></li>
    </ul>
{% endfor %}

<h2> Tools </h2>
<ul>
  {% for tool in site.data.tools %}
    <li>{{ tool.name }}</li>
  {% endfor %}
</ul>

<h2> Languages </h2>
<ul>
  {% for language in site.data.languages %}
    <li>{{ language.name }}</li>
  {% endfor %}
</ul>
