@font-face {
  font-family: "Metropolis Regular";
  src: url("../fonts/Metropolis-Regular.ttf");
}

// Background and main font color
$bg: #282828;
$fg: #ebdbb2;

// Sub-headers
$orange: #d65d0e;

// Quotes, Sources
$green: #98971a;
$aqua: #689d6a; // author

// Bold
$yellow: #d79921;

// Code Blocks, Hints, Labels
$gray: #a89984;

// Links
$blue: #458588;
$purple: #b16286;

// Important notice
$red: #cc241d;

html, body {
  width: 100%;
  font-family: "Metropolis Regular";
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  background-color: $bg;
  color: $fg;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

nav {
  padding: 30px 20px 0 20px;
  line-height: 1.5;
  a {
    padding: 0 5px;
    font-size: 16px;
  }
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #efefef;
}

main {
  width: 80%;
  max-width: 800px;
  padding-top: 30px;
}


h1 {
  color: $yellow;
  font-size: 32px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;

}

a {
  color: $blue;
  text-decoration: none;
  &:visited {
    color: $purple;
  }
  &:hover {
    color: $purple;
  }
}

li {
  list-style: none;
}

.current {
  font-style: italic;
  text-decoration: underline;
}

.subtitle {
 color: $orange;
}

.bold {
 color: $yellow;
 font-weight: 500;
}

.quote {
 color: $green;
}
.author {
 color: $aqua;
}

.attention {
  color: $red;
}
