@font-face {
font-family: "Metropolis Regular";
src: url("../fonts/Metropolis-Regular.ttf");
}

html, body {
  width: 100%;
  font-family: "Metropolis Regular";
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
}

nav {
  padding-top: 10px;  
}

main {
  width:  80%;
  padding-top: 30px;
}


h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {
  color: blue;
  text-decoration: none;
  &:hover {
    color: purple;
  }
  &:visited {
  }
}

li {
  list-style: none;
}

.current {
  font-style: italic;
  text-decoration: underline;
}

.readBook {
  color: red;
}
